html {
  background-color: #0e122c;
}

#root {
  background-color: #0e122c;
  color: white;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #0e122c;
}

h1,
h2,
h3,
.card-body>.card-title {
  font-family: 'Montserrat', sans-serif;
}

.card-title {
  font-weight: 500;
  font-size: 1.25rem;
}

h2 {
  text-align: center;
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  /* background-color: #eb0202; */
  background-image: linear-gradient(to right, #d4d3d5, #0e122c);
  margin-bottom: 2rem;
  min-height: 8rem;
}

.footer {}

/*Footer links*/
nav .navbar-nav li a {
  color: white !important;
}

.navbar-brand {
  max-width: 4rem;
  margin-right: 2rem;
}

.navbar-brand img {
  width: 100%;
  height: 100%;
  margin-right: 2rem;
  max-width: 4rem;
}

.navbar-dark {
  background-color: #0d0d0d;
  background-image: linear-gradient(to right, #979698, #4f5264);

  min-height: 8rem;
  box-shadow: #0d0d0d;
}

.nav-container {
  background-color: #333;
  padding: 10px;
}

.nav-link {
  color: #0f0000;
  background-color: #333;
  text-decoration: none;
  margin-right: 10px;
}

.nav-link:hover {
  color: #e9d2d2;
  text-decoration: underline;
}

.page-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: 300ms ease-out;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: 300ms ease-in;
}

/* Common Styles for Header and Footer */
.header-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-weight: bold;
  background-image: linear-gradient(to left, #908e93, #abb0cf);
  color: #faeded;
  /* Darker text color JUST ADDED */

}

.header-footer .logo {
  font-size: 24px;
  color: #faeded;
  /* Darker text color JUST ADDED */

}

.header-footer .social-media {
  display: flex;
  gap: 10px;
}

.header-footer .social-icon,
.footer-links a {
  text-decoration: none;
  font-size: 18px;
  /*color: #333; /* Darker text color */
  color: #faeded;
  /* Darker text color JUST ADDED */

}

/* Header and Footer */
.navbar,
.footer {
  background-color: #333;

  /* Lighter background color */
  color: #faeded;
  /* Darker text color */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul,
.footer-links ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0px 20px;
}

.navbar li,
.footer-links li {
  font-size: 20px;
}

/* Style the links on hover */
.navbar a,
.footer-links a {
  text-decoration: none;
  color: white;

  /* Darker text color */
  transition: color 0.3s, text-decoration 0.3s;
  /* Add smooth transitions JUST ADDED*/

}

/* Add blue color and underline on hover */
.navbar a:hover,
.footer-links a:hover {
  color: #d4be1b;
  /* Blue color */
  text-decoration: underline;
}

.youtube-videos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  width: auto;
  height: auto;

}

.youtube-video {
  flex-basis: calc(50% - 10px);
  margin-bottom: 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: solid rgb(83, 83, 81);

  
}

* {
  /* border: solid red; */
}

.strategy-explanation {
  font-size: 16px;
  margin-top: 10px;
}

/*footer*/
.list-unstyled {
  display: flex;
  flex-direction: column;
  color: #ed0707;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.social-icon {
  margin-right: 10px;

}

/*text hidden*/
.show-text {
  opacity: 1;
  transition: opacity .5s ease-in-out;
  color: white;
  background-color: black;
  height: 30px;
}

.hide-text {
  opacity: 0;

  height: 0;
}

/* On screens that are 992px or less, set the background color to blue */
/* @media screen and (max-width: 992px) {
  .youtube-video {
    background-color: blue;
  }

  .youtube-videos-container {
    width: 100%;
    height: 100%;

  }
} */

/* On screens that are 600px or less, set the background color to olive */
/* @media screen and (max-width: 600px) {
  .youtube-video {
    background-color: olive;
    width: 30em;
    height: 50em;
  }

  .youtube-videos-container {
    width: 30em;
    height: 50em;
    background-color: rgb(223, 24, 6);

  }
} */